<settings>
  <!-- omitted xml -->
  <servers>
    <server>
      <id>internal</id>
      <username>vikas.sanap</username>
      <password>password</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>vikas.sanap</username>
      <password>password</password>
    </server>
    <!-- omitted xml -->
  </servers>
  <!-- omitted xml -->
</settings>
