<settings>
  <!-- omitted xml -->
  <servers>
    <server>
      <id>Archiva Managed Internal Repository</id>
      <username>vikas.sanap</username>
      <password>Iamthe2014</password>
    </server>
    <server>
      <id>Archiva Managed Snapshot Repository</id>
      <username>vikas.sanap</username>
      <password>Iamthe2014</password>
    </server>
    <!-- omitted xml -->
  </servers>
  <!-- omitted xml -->
</settings>
